@import url('https://fonts.googleapis.com/css2?family=Poppins:ital@1&display=swap');

body {
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
}

.section {
    display: grid;
    place-items: center;
    align-content: center;
    min-height: 100vh;
}

.hide {
    opacity: 0;
    transition: all 1s;
}

.show {
    opacity: 1;
}